.inputTask {
    display: grid;
    grid-template-columns: 1fr 50px 50px;
    margin-bottom: 15px;
    background: rgb(219, 226, 239);
    border-radius: 5px;
    gap: 10px;  
    padding-right: 15px;

    transition: all 450ms cubic-bezier(.25, .46, .45, .94) 0s;  


    &:hover {
        background-color: rgba(169, 179, 250, 0.8);
        -webkit-transition: background 450ms cubic-bezier(.25, .46, .45, .94) 0s;
        -ms-transition: background 450ms cubic-bezier(.25, .46, .45, .94) 0s;
        transition: background 450ms cubic-bezier(.25, .46, .45, .94) 0s;
    }
    
    &Label {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        padding: 12px 15px;
        cursor: pointer;
    }

    &Checkbox {
        width: 20px;
        height: 20px;
        cursor: pointer;
        transition: all 450ms cubic-bezier(.25, .46, .45, .94) 0s;
        transform: rotate(-90deg);

        &:focus {
            outline: none;
        }

        &:hover {
            transform: scale(1.07) rotate(0deg);
        }
    }

    &Title {
        padding: 5px;
        line-height: 1.2;
        transition: all 450ms cubic-bezier(.25, .46, .45, .94) 0s;
        
        &:hover {
            color: rgb(5, 45, 94);
        }
    }

    &EditTitle {
        font: 1rem/1em 'Roboto', sans-serif;
        border: none;
        padding: 5px;
        background: none;
        box-shadow: 0 4px 0 -3px #3F72AF;
        transition: all 450ms cubic-bezier(.25, .46, .45, .94) 0s;

        &:focus {
            outline: none;
        }
    }

    &Edit, &Remove, &Save {
        display: block;
        border: none;
        background: none no-repeat center center;
        cursor: pointer;
        padding: 0;
        transition: all 250ms cubic-bezier(.25, .46, .45, .94) 0s;

        &:hover {
            transform: scale(1.16);
        }

        &:focus {
            outline: none;
        }
    }

    &Edit {
        background-image: url("./images/edit.svg");

        &:hover {
            transform: rotate(-44deg) scale(1.16);
        }

    }

    &Remove {
        background-image: url("./images/trash.svg");

        &:hover {
            transform: rotate(-180deg) scale(1.16);
        }
    }

    &Save {
        background-image: url("./images/check.svg");

        &:hover {
            transform: rotate(-7deg) scale(1.26);
        }
    }
}