.inputPlus {

    width: 100%;
    display: grid;
    grid-template-columns: 1fr 55px;
    margin-bottom: 15px;

    &Value {
        border: 1px solid #B1B1B1;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 9px 10px;
        font: 1rem/1.4 'Roboto', sans-serif;
        background: #DBE2EF;
        transition: all 250ms cubic-bezier(.25, .46, .45, .94) 0s;  

        &:focus {
            transform: scale(1.035);
            border-radius: 5px;
            // border: 1px solid #B1B1B1;
            // outline: none;
            outline: 1px solid rgb(63, 114, 175);
            margin-right: 10px;
        }


        &::placeholder {
            color: #7B7B7B;
        }
    }

    &Button {
        border-radius: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border: none;
        cursor: pointer;
        background: #3F72AF url("./images/plus.svg") no-repeat center center;
        transition: all 250ms cubic-bezier(.25, .46, .45, .94) 0s;

        &:hover {
            background: rgb(27, 140, 192) url("./images/plus_resized_05.png") no-repeat center center;
            border: 1px solid #B1B1B1;
        }

        &:focus {
            outline: 1px solid rgb(63, 114, 175);
        }
    }
}